
  .dnd-container {
    position: relative;
    width: 1604px;
    height: 1000px;
    
    .selectContainer {
      padding: 5px;
      .box {
        &.active:hover{
          cursor: move;
        }
      }
    }
    .ant-collapse-content > .ant-collapse-content-box {
      padding: 0;
    }
    .ant-collapse > .ant-collapse-item > .ant-collapse-header {
      padding: 5px 10px 5px 10px;
    }
    
  }
  .selectContainer {
    position: relative ;
    height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
    .box {
      &.active{
        background:rgba(14, 178, 255, 0.08);
      }
    }
  }
  .box {
    display: inline-block;
    width: 44px;
    height: 53px;
    margin: 6px 2px 0 0;
    border:1px solid #0082CC;
    padding: 2px;
    &:hover{
        background:rgba(14, 178, 255, 0.08);
    }

  }
  .img-copy {
    position: fixed;
    cursor: move;
    z-index: 999;
  }
  
  .group-more{
    .ant-modal-body {
      height: 300px;
      padding: 0;
      max-height: 550px;
      overflow-y: auto;

    }
    .group-select {
      position: absolute;
      right: 50px;
      top: 12px;
      span {
        margin-right: 10px;
      }
    }
    .selectContainer {
      padding: 15px;
      .box {
        &.active{
            background:rgba(14, 178, 255, 0.08);
        }
      }
    }
  }
  .select-box {
    position: absolute;
    background-color: lightblue;
    opacity: 0.3;
  }