html,
body,
#root {
  margin: 0;
  height: 100%;
  position: relative;
}
#root {
  height: calc(100vh - 64px);
}
body > #root {
  height: 100%;
}

.full-container {
  width: 100%;
  height: 100%;
}

.padding-container {
  padding: 20px;
  height: 100%;
}

.content-container {
  background: #ffffff;
  padding: 20px;
}

.error-page-container {
  height: calc(100vh - 65px);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #999999;
  background-color: #ffffff;
}

.cursor-pointer {
  cursor: pointer;
}

// 滚动条样式重置 -webkit内核生效
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-thumb {
  border: 3px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
  border-radius: 7px;
  background-color: rgba(0, 0, 0, 0.15);
  height: 50px;
}
::-webkit-scrollbar-button {
  width: 0;
  height: 0;
  display: none;
}
::-webkit-scrollbar-corner {
  background-color: transparent;
}
.hover-scrollbar {
  ::-webkit-scrollbar-thumb {
    background-color: transparent;
  }
  :hover {
    &::-webkit-scrollbar-thumb {
      background-color: rgba(0, 0, 0, 0.15);
    }
  }
}
